//*****************************************
// LESS
//****************************************/
// Colors
@color-body-background: #1E1E1E;
@color-light-gray: #C5C5C5;
@color-vibrant-blue: #20c1ff;

// Transitions
@primary-transition-speed: .75s;

// Measurements
@coordinate-entry-margin: 3em;

// font
@font-fancy-font: 'Great Vibes', cursive;

/******************************************
GENERAL STYLING
******************************************/
body {
  background-color: @color-body-background;
  color: @color-light-gray;
  font-family: sans-serif;
}

.content-wrapper {
  text-align: center;
}

.search-form {
  height: 30px;
  margin: 0 auto;
  position: relative;
  transition-duration: @primary-transition-speed;
  width: 30px;

  .search-field {
    background-color: @color-body-background;
    border: 4px solid @color-vibrant-blue;
    border-radius: 10em;
    color: @color-vibrant-blue;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  &::before {
    background-color: @color-vibrant-blue;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    left: 90%;
    top: 115%;
    transform: rotate(45deg);
    width: 19px;
  }
}
