//*****************************************
// LESS
//****************************************/
// Colors
@color-body-background: #1e1e1e;
@color-light-gray: #c5c5c5;
@color-vibrant-blue: #20c1ff;

// Transitions
@primary-transition-speed: 0.3s;

// Measurements
@coordinate-entry-margin: 3em;

// font
@font-fancy-font: 'Great Vibes', cursive;

/******************************************
GENERAL STYLING
******************************************/

body {
  background-color: @color-body-background;
  color: @color-light-gray;
  font-family: sans-serif;
}

.content-wrapper {
  text-align: center;
}

.search-form {
  height: 30px;
  margin: 0 auto;
  overflow: visible !important;
  position: relative;
  width: 30px;

  .search-field {
    background-color: @color-body-background;
    border: 4px solid @color-vibrant-blue;
    border-radius: 10em;
    color: @color-vibrant-blue;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 0 1.25em;
    -webkit-transition: @primary-transition-speed ease-in-out;
    -moz-transition: @primary-transition-speed ease-in-out;
    -o-transition: @primary-transition-speed ease-in-out;
    transition: @primary-transition-speed ease-in-out;

    &:focus {
      outline: none;
    }
  }

  .closed-input {
    padding: 0;
  }

  .magnifying-handle {
    background-color: @color-vibrant-blue;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    left: 90%;
    top: 115%;
    transform: rotate(45deg);
    width: 19px;
  }
}

.cancel-button {
  height: 35px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;

  span {
    background-color: #fff;
    border-radius: 300px;
    background-color: @color-vibrant-blue;
    height: 3px;
    position: absolute;
    -webkit-transition: @primary-transition-speed ease-in-out;
    -moz-transition: @primary-transition-speed ease-in-out;
    -o-transition: @primary-transition-speed ease-in-out;
    transition: @primary-transition-speed ease-in-out;
    width: 50%;

    &:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      left: 80px;
      bottom: 94px;
    }

    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 98px;
      left: 80px;
    }
  }
}

.cancel-visible {
  span {
    &:nth-child(1) {
      bottom: 14px;
      left: 0;
      right: 0;
      top: 18px;
    }

    &:nth-child(2) {
      bottom: 14px;
      right: 0;
      left: 0;
      top: 18px;
    }
  }
}
